@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

dt {
  display: flex;
  font-weight: 400;

  dd {
    margin-left: .5rem;
  }
}